* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #f3f4fb;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header-info {
  background: red;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-container {
  /* display: flex; */
}

.btn-search {
  border-radius: 100%;
}